
.movie {
    background-color: #ffffff;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    margin: 100px;
    position: relative;
    border-radius: 20px;
}

.movie img {
    width: 150px;
    position: absolute;
    top: -50px;
    left: 20px;
    box-shadow: 0px 0px 20px #333333;
    border-radius: 20px;
}

.movie_data {
    width: 60%;
    margin-left: 200px;
    padding: 10px;
    box-sizing: border-box;
}

.movie_title {
    font-size: 24px;
    font-weight: 400;
}

.movie_year {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

.genres {
    float: left;
    font-size: 16px;
    font-weight: 100;
    color: #999999;
}

.genres_genres {
    margin-right: 10px;
    float: left;
}

.movie_summary {
    margin-top: 20px;
    float: left;
    font-size: 16px;
    font-weight: 200;
    color: #555555;
}